.authGuard_h1{
    margin: 30px 0 50px;
    font-size: 40px;
}

.authGuard_div{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.authGuard_btns{
    margin-top: 20px;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 500px;
    border: 1px solid transparent;
    padding: 12px 0;
    color: #fff;
    background-color: #1ed760;
    width: 180px;
}