.details_h1 {
  font-size: 34px;
  margin: 26px 0;
}

.details_div {
  display: flex;
  justify-content: center;
  margin: 0 40px;
  column-gap: 80px;
  height: 500px;
}

.details_img {
  width: 33%;
  height: 100%;
  border-radius: 6px;
}

.movie_details_div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 12px;
  margin: 30px 40px;
  text-align: left;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
}

.details_img2 {
  width: 33%;
  height: 310px;
  border-radius: 6px;
  display: none;
}

.movie_details_p_tags {
  font-size: 20px;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 6px;
}

.details_h1 {
  font-size: 34px;
  color: white;
  margin: 26px 0;
}

.details_error {
  font-size: 40px;
  margin-top: 50px;
  color: red;
}

.details_empty {
  font-size: 30px;
  margin-top: 50px;
}

@media (max-width: 1245px) {
  .details_div {
    height: 400px;
  }
}

@media (max-width: 1024px) {
  .details_div {
    height: 450px;
  }

  .details_img {
    display: none;
  }

  .movie_details_div {
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
  }

  .details_img2 {
    display: block;
  }
}

@media (max-width: 850px) {
  .details_h1 {
    font-size: 28px;
  }

  .details_div {
    height: 350px;
  }

  .movie_details_p_tags {
    font-size: 18px;
  }
}

@media (max-width: 660px) {
  .details_h1 {
    font-size: 22px;
  }

  .details_div {
    margin-inline: 20px;
  }

  .movie_details_div {
    margin-inline: 20px;
  }

  .movie_details_p_tags {
    font-size: 16px;
  }
}

@media (max-width: 630px) {
  .movie_details_div {
    flex-direction: column;
  }

  .details_img2 {
    width: 250px;
  }
}

@media (max-width: 430px) {
  .details_h1 {
    font-size: 18px;
  }
}

@media (max-width: 370px) {
  .details_h1 {
    font-size: 16px;
  }

  .movie_details_p_tags {
    font-size: 14px;
  }
}
