.home_h1 {
  margin: 30px 0 100px;
  font-size: 40px;
}

.logIn_signup_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login_signup_div_divs {
  width: 480px;
  padding: 30px 0;
  border: 3px solid black;
  border-radius: 30px;
}

.home_h2 {
  color: white;
}

.home_buttons {
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 500px;
  border: 1px solid transparent;
  padding: 12px 0;
  color: #fff;
  background-color: #1ed760;
  width: 180px;
}

@media (max-width: 1150px) {
  .logIn_signup_div {
    flex-direction: column;
    row-gap: 40px;
  }
}

@media (max-width: 660px) {
  .home_h1 {
    font-size: 34px;
  }

  .login_signup_div_divs {
    width: 400px;
    padding: 30px 10px;
  }

  .home_h2 {
    font-size: 22px;
  }

  .home_buttons {
    font-size: 16px;
    padding: 10px 0;
    width: 160px;
  }
}

@media (max-width: 460px) {
  .home_h1 {
    font-size: 28px;
  }

  .login_signup_div_divs {
    width: 350px;
  }

  .home_h2 {
    font-size: 18px;
  }

  .home_buttons {
    font-size: 14px;
    width: 130px;
  }
}

@media (max-width: 390px) {
  .home_h1 {
    font-size: 26px;
  }

  .login_signup_div_divs {
    width: 290px;
  }
}
