.logIn_h1 {
  margin: 30px 0;
  font-size: 40px;
}

.logIn_h2 {
  font-size: 30px;
  margin-bottom: 70px;
}

.logIn_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  width: 450px;
  margin: auto;
  border-radius: 8px;
  padding: 40px 0;
  background-color: white;
}

.logIn_form_divs {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.logIn_form_labels {
  font-size: 20px;
  flex-basis: 28%;
}

.logIn_form_inputs {
  flex-basis: 68%;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 16px;
}

.logIn_submitBtn {
  background-color: #6cb4ee;
  border: 1px solid #6cb4ee;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 0;
  width: 150px;
}

.logIn_errors {
  color: red;
  font-size: 14px;
  position: absolute;
  bottom: 9px;
  right: 17px;
}

.congrats{
  margin-bottom: 10px;
}

@media (max-width: 551px) {
  .logIn_h1 {
    font-size: 32px;
  }

  .logIn_h2 {
    font-size: 26px;
  }

  .logIn_form {
    width: 350px;
    padding: 40px 10px;
  }

  .logIn_form_labels {
    font-size: 16px;
  }

  .logIn_form_inputs::placeholder {
    font-size: 14px;
  }

  .logIn_submitBtn {
    font-size: 14px;
    width: 130px;
  }
}

@media (max-width: 410px) {
  .logIn_h1 {
    font-size: 26px;
  }

  .logIn_h2 {
    font-size: 24px;
  }

  .logIn_form {
    width: 320px;
  }
}

@media (max-width: 360px) {
  .logIn_form {
    width: 290px;
    padding-bottom: 30px;
  }

  .logIn_form_labels {
    font-size: 14px;
  }

  .logIn_submitBtn {
    width: 110px;
    padding: 8px 0;
  }
}
