.movies_h2 {
  font-size: 34px;
  color: white;
  margin: 26px 0;
}

.slider_div{
  margin-inline: 40px;
}

.movies_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 50px;
}

.movies_h3_div {
  height: 49.6px;
  margin-bottom: 12px;
}

.movies_h3 {
  font-size: 20px;
}

.movie_cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px auto 0;
  background-color: white;
  width: 28%;
  border-radius: 10px;
  padding: 10px 30px;
}

img {
  width: 100%;
  height: 400px;
  border-radius: 6px;
}

.movies_description_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 6px;
  margin: 12px 0;
  text-align: left;
}

.movie_p_tags {
  font-size: 20px;
}

.genres_div {
  height: 48px;
}

.movieCards_btns_div {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0;
}

.movies_fav_det_rem_btns {
  background-color: #6cb4ee;
  border: 1px solid #6cb4ee;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  color: #fff;
  cursor: pointer;
  padding: 10px 25px;
  font-size: 16px;
}

.pagination_btns_div {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin: 50px 10px 30px;
  flex-wrap: wrap;
}

.pagination_btns {
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  width: 48.32px;
  height: 36px;
  padding: 0 16px;
  background-color: white;
}

.active {
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  width: 48.32px;
  height: 36px;
  padding: 0 16px;
  background-color: red;
}

.movies_error {
  font-size: 40px;
  margin-top: 50px;
  color: red;
}

@media (max-width: 1270px) {
  .movies_h3 {
    font-size: 18px;
  }

  img {
    height: 350px;
  }

  .movie_p_tags {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .movie_cards {
    width: 40%;
  }
}

@media (max-width: 769px) {
  .movies_h2 {
    font-size: 30px;
  }

  .movie_cards {
    width: 400px;
  }

  .pagination_btns_div {
    column-gap: 4px;
  }

  .pagination_btns {
    font-weight: 400;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .active {
    font-weight: 400;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 585px) {
  .pagination_btns_div {
    column-gap: 2px;
  }

  .pagination_btns {
    width: 25px;
    height: 25px;
  }

  .active {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 460px) {
  .movies_h2 {
    font-size: 24px;
  }

  .movie_cards {
    width: 290px;
  }
}
